In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("../data/in.csv")

In [10]:
df.city

0           Delhi
1          Mumbai
2         Kolk훮ta
3       Bangalore
4         Chennai
          ...
182        Panaji
183         Dam훮n
184     Kavaratti
185     Panchkula
186    Kagazn훮g훮r
Name: city, Length: 187, dtype: object

In [11]:
type_city = []
for i in df.city:
    type_city.append(type(i))